* {
  margin: 0;
  padding: 0;
  touch-action: pan-y;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f4;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ol,
dl,
ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
input {
  border: none;
  outline: none;
}
